@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url('../font/Poppins-ExtraBold.eot');
    src: url('../font/Poppins-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../font/Poppins-ExtraBold.woff2') format('woff2'),
        url('../font/Poppins-ExtraBold.woff') format('woff'),
        url('../font/Poppins-ExtraBold.svg#Poppins-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
